.Header
{
  padding: 10px;
  min-height: 200px;
  max-height: 250px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}
.footer
{
  padding: 10px;
  min-height: 200px;
  max-height: 250px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}
.Row
{
display: flex;
}
.Column
{
padding: 20px;
margin: 20px;
min-height: 200px;
max-height: 1000px;
max-width: 1000px;
min-width: 100px;
background-color: gray;
}
img
{
  max-height: 600px;
  max-width: 1000px
}
